/data.json
/secrets.py
/__pycache__
LAST_DOWNLOAD
testpacket.py
.vscode/
sduilogo.png
googlecalendarapis/credentials.json
googlecalendarapis/token.json
googlecalendarapis/secrets.py
googlecalendarapis/AutoUpdater/credentials.json
googlecalendarapis/AutoUpdater/data.json
googlecalendarapis/AutoUpdater/LAST_DOWNLOAD
googlecalendarapis/AutoUpdater/token.json