/__pycache__
LAST_DOWNLOAD
testpacket.py
.vscode/
sduilogo.png
credentials/
*/data.json
*/secrets.py
*/*/secrets.py
*/credentials.*
*/__pycache__/
*/token.*
sdui_api_google_calendar_extention/timezones.json
data.json